<!doctype html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex">
    <title>Planned Parenthood Campaign Research Survey</title>

    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/fd4eb0bb-1ef4-4a1a-ac07-2d09dedf13c4.css"/>
    <link rel="stylesheet" href="{{ rev('/styles/main.css') }}">
    <link rel="shortcut icon" type="image/ico" href="{{ rev('/images/favicon.png') }}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Planned Parenthood Campaign Research Survey">
    <meta property="og:url" content="https://survey.firebelly.co">
    <meta property="og:image" content="https://survey.firebelly.co/dist/assets/images/share-image.jpg">
    <meta property="og:image:type" content="image/jpeg">

    <!-- Inject SVGs Defs for SVG icon use -->
    <script>
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "{{ rev('/svgs-defs.svg') }}", true);
      ajax.send();
      ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className += "svg-defs hidden";
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-998109-54"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-998109-54');
    </script>

  </head>
  <body{{ siteSettings.deadEnd == 'on' ? ' class="dead-end"' : '' }}>
    <div id="breakpoint-indicator"></div>

    <main class="site-main" role="main">
      <div class="sitewrapper">
        <a href="https://www.plannedparenthood.org/learn" rel="noopener" target="_blank" class="pp-logo"><svg class="icon pp-logo" aria-hidden="true" role="presentation"><use xlink:href="#pp-logo"/></svg></a>

        <h1>Campaign Research<br> <span class="es">Investigación de Campaña</span></h1>

        <div class="content">
          {% if siteSettings.deadEnd == 'on' %}
            <p>Thank you for your time! Unfortunately, the study is no longer open. We appreciate your willingness to help! For additional information, visit <a href="https://www.plannedparenthood.org/learn" rel="noopener">Planned Parenthood</a>.  </p>
            <p>¡Muchas gracias por tu tiempo!  Desafortunadamente, la encuesta ya no está abierta. ¡Apreciamos tu disponibilidad para ayudarnos! Para más información, puedes visitar <a href="https://www.plannedparenthood.org/es/temas-de-salud" rel="noopener">Planned Parenthood</a>.</p>
          {% else %}
            <p>Thanks for your interest! Please choose your preferred language.  </p>
            <p>¡Gracias por tu interés! Por favor elija su idioma preferido.</p>

            <div class="buttons">
              <div>
                <a href="https://firebellydesign.optimalworkshop.com/questions/emtyw0ph-0-0-0-0" class="button" rel="noopener">English</a>
              </div>
              <div>
                <a href="https://firebellydesign.optimalworkshop.com/questions/emtyw0ph-0-0-0-0-0" class="button" rel="noopener">Español</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </main>

    <script src="{{ rev('/scripts/manifest.js') }}"></script>
    <script src="{{ rev('/scripts/vendor.js') }}"></script>
    <script src="{{ rev('/scripts/main.js') }}"></script>
  </body>
</html>